<body style="background-color:lightblue;">
	<h1 style="color:brown;font-family:copperplate;font-size:350%;text-align:center;">
		New Profile
	</h1>
	{% if error %}
    <h3 style="color:red;font-size:150%;">{{ error }}</h3>
	{% endif %}
	{% if error1 %}
    <h3 style="color:red;font-size:150%;">{{ error1 }}</h3>
	{% endif %}
	{% if success %}
    <h3 style="color:blue;font-size:150%;">{{ success }}</h3>
	{% endif %}
	<br/>
	 <br />  
	<form method="POST" action = "{% url 'home' %}">
		{% csrf_token %}
		<input type="submit" value="Back to home"/ >
		</form>
	<fieldset><legend style="color:rgb(150,24,130);font-family:arial;">New Information</legend>
		<br />

		<form method="POST" action = "{% url 'create' %}" enctype="multipart/form-data">
			{% csrf_token %}

			{% if request.GET.next %}
			<input type="hidden" name="next" value={{ request.GET.next }}/>
			{% endif %}

			<p style="color:rgb(150,24,130);font-family:arial;">First Name</p>
			<input type="text" name="first_name" />
			<br />
			<br />
			<p style="color:rgb(150,24,130);font-family:arial;">Last Name</p>
			<input type="text" name="last_name" />
			<br />
			<br />
			<p style="color:rgb(150,24,130);font-family:arial;">E-mail</p>
			<input type="email" name="email_id" />
			<br />
			<br />
			<p style="color:rgb(150,24,130);font-family:arial;">Date of birth</p>
			<input type="date" name="DOB" />
			<br />
			<br />
			<p style="color:rgb(150,24,130);font-family:arial;">Gender:</p>
			<input type="radio" name="gender" value='M' checked> Male<br>
            <input type="radio" name="gender" value='F' > Female<br>
            <br />
            <br />
            <p style="color:rgb(150,24,130);font-family:arial;">Height in cm</p>
			<input type="text" name="height" />
			<br />
			<br />
			<input type="submit" value="Create" name="submit"/ >
		</form>
	</fieldset>
</body>