<body style="background-color:lightblue;">
	<h1 style="color:brown;font-family:copperplate;font-size:350%;text-align:center;">
		Welcome to the Login Page
	</h1>
	{% if error %}
    <h3 style="color:red;font-size:150%;">{{ error }}</h3>
	{% endif %}
	{% if error1 %}
    <h3 style="color:red;font-size:150%;">{{ error1 }}</h3>
	{% endif %}
	{% if success %}
    <h3 style="color:blue;font-size:150%;">{{ success }}</h3>
	{% endif %}
	<br/>
	<br />  
	<form method="POST" action = "{% url 'home' %}">
		{% csrf_token %}
		<input type="submit" value="Back to Home"/ >
		</form>
	<fieldset><legend style="color:rgb(150,24,130);font-family:arial;font-size:150%;">Login Information</legend>
		<br />
		<form method="POST" action = "{% url 'login' %}">
			{% csrf_token %}

			{% if request.GET.next %}
			<input type="hidden" name="next" value={{ request.GET.next }}/>
			{% endif %}

			<p style="color:rgb(150,24,130);font-family:arial;">User Name</p>
			<input type="text" name="username" />
			<br />
			<br />
			<p style="color:rgb(150,24,130);font-family:arial;">Password</p>
			<input type="password" name="pwd" />
			<br />
			<br />
			<input type="submit" value="Login"/ >
			<input type="reset" name="reset"/>
	</fieldset>
</body>